@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@*Model Less pop up:
<input type="button" id="btnpopu" value="Open Modeless popup" onclick="ShowPopup();" />

<script type="text/javascript">
    ShowPopup = function () {
        window.open('/Cities/Create', "PopupWindow", 'width=400px,height=400px,top=150,left=250');
    }
</script>*@




